name: Build
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: install dependencies
        run: npm ci
      - name: lint check
        run: npx eslint . --ext .js,.jsx,.ts,.tsx

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: install dependencies
        run: npm ci
      - name: run build
        run: npm run build

  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: install dependencies
        run: npm ci
      - name: run unit tests
        run: npm run test
      - name: run e2e tests
        run: npm run test:e2e
        env:
          MONGODB_CONNECTION_STRING: 'mongodb://mongo:27017'
          MONGODB_DATABASE: 'test'
